/* customm css sedikit menambahkan efek hover */
* {
  transition: 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #0d6efd !important;
  transform: translateY(-2px);
}

.hero-img:hover {
  transform: scale(1.05) rotate(1deg);
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.4) !important;
}

.badge:hover {
  background: #0b5ed7 !important;
  transform: scale(1.1);
}

.project-card {
  transform: translateY(0px);
  border-radius: 12px;
}
.project-card img {
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.02);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.project-card img:hover {
  transform: scale(1.1);
}

.contact-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2) !important;
}

.btn-primary:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(13, 110, 253, 0.5);
}
