* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #686868;
    padding: 10px 20px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-right: 80px;
    /* background-color: aqua; */
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    /* background-color: tomato; */
}

nav ul li a:hover {
    color: #d3d3d3;
    background-color: #000;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 40px;
    /* background-color: yellow; */
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 25px;
}

.toggle-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    position: relative;
}

.toggle-menu input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.toggle-menu span {
    display: block;
    height: 3px;
    width: 28px;
    background-color: #000;
    border-radius: 3px;
}

.toggle-menu span:nth-child(2) {
    transform-origin: 0 0;
}

.toggle-menu span:nth-child(4) {
    transform-origin: 0 100%;
}

.toggle-menu input:checked ~ span:nth-child(2) {
    background-color: #000;
    transform: rotate(45deg) translate(-1px, -1px);
}

.toggle-menu input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}

.toggle-menu input:checked ~ span:nth-child(4) {
    background-color: #000;
    transform: rotate(-45deg) translate(-1px, 0);
}


/* reponsive */

@media screen and (max-width: 1000px) {
    nav ul {
        width: 50%;
        margin-right: 40px;
    }
}

@media screen and (max-width: 678px) {
    nav ul {
        position: absolute;
        left: 0;
        top: 70px;
        flex-direction: column;
        background-color: #d3d3d3;
        height: 200px;
        width: 100%;
        padding-bottom: 40px;
        transform: translate(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        transform: translate(0);
        opacity: 1;
    }

    nav ul li a {
        position: absolute;
        left: 50px;
    }

    nav ul li a:hover {
        background-color: #686868;
    }

    .toggle-menu {
        display: flex;
    }
}